* {
    font-family: 'ABeeZee', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    margin-left: 100px;
    float: left;
}

.topnav {
    background-color: white;
    float: right;
    margin-top: 30px;
    margin-right: 40px;
}

.topnav a {
    color: rgb(87, 81, 72);
    float: right;
    text-align: center;
    padding: 60px;
    text-decoration: none;
    font-size: 15px;
}

.topnav a:hover {
    color: rgb(163, 153, 138);
    cursor: pointer;
}

main {
    clear: both;
}

#panel{
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
}

#picture{ 
    width: 100%;
    object-fit: contain;
}

.arrow{
    cursor: pointer;
    top: 50%;
    transform: translate(0, -50%);
}

#left{
    right: 100%;
    position: absolute;
}

#right{
    left: 100%;
        position: absolute;
}

#arrange {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-around;    
}

.squares {
    clear: both;
    flex: 1;
    height: 3in;
    width: 3in;
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 40px;
    padding-top: 115px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

#square1 {
    background-image: url(weddingsclick.jpg);
}

#square2 {
    background-image: url(couplesclick.jpg);
}

#square3 {
    background-image: url(seniorsclick.jpg);
}

#square4 {
    background-image: url(groupsclick.jpg);
}

#about {
    
}



#headerpic {
    position: absolute;
    height: 5in;
    width: 18in;
    top: 180px;
    color: white;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    margin-left: 100px;
    background-image: url(wedding6.jpg);
    padding-top: 250px;
}

@media(max-width: 1650px) {
    h1 {
        font-size: 50px;
    }
    .topnav a {
        font-size: 13px;
        padding: 25px;
    }
}

@media(max-width: 600px) {
    h1 {
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    .topnav {
        clear: both;
    }
    .topnav a {
        clear: both;
        font-size: 10px;
        padding: 15px;
        float: left;
    }
    .arrow {
        size: 50%;
    }
}